<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbBAgX-suvOhXJvQJhQ53XG7vTBme93cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>637203719667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AceEzra.Rendezvous</string>
	<key>PROJECT_ID</key>
	<string>rendezvous-d75e5</string>
	<key>STORAGE_BUCKET</key>
	<string>rendezvous-d75e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637203719667:ios:a3617850df899d9edbde86</string>
</dict>
</plist>